html {
    font-family: din-condensed, sans-serif;
}

.navbar-fixed {
    height: 70px;
}

nav {
    background-color: #ffffff !important;
    border: none;
    box-shadow: none;
    outline: none;
    height: 70px;
}

.nav-content {
    color: #363434 !important;
    margin: 5px 25px 0px 20px;
}

nav ul li a {
    font-family: din-condensed, sans-serif;
    font-weight: 400;
    font-style: normal;
    font-size: 28px;
}

.title {
    font-family: din-condensed, sans-serif;
    font-weight: 400;
    font-style: normal;
    font-size: 90px;
    line-height: 1.3;
    color: #363434;
    margin-left: 3%;
    margin-top: 19%;
}

.nav-logo {
    color: #363434 !important;
    margin-left: 3%;
    margin-top: 5px;

}

.web-work {
    width: 45%;
    background-color: #363434;
    color: #ffffff;
    font-family: din-condensed, sans-serif;
    font-weight: 400;
    font-style: normal;
    font-size: 50px;
    line-height: 1.2;
    text-align: center;
    position: relative;
    left: 55%;
    padding-top: 100px;
    padding-bottom: 100px;
    margin-top: 40px;

}

.graphic-work {
    width: 42%;
    background-color: #363434;
    color: #ffffff;
    font-family: din-condensed, sans-serif;
    font-weight: 400;
    font-style: normal;
    font-size: 50px;
    line-height: 1.2;
    text-align: center;
    position: relative;
    top: -50px;
    padding-top: 100px;
    padding-bottom: 100px;
}

.resume-title {
    background-color: #E4E4E4;
    width: 100%;
    margin-top: 40px;
    color: #ffffff;
    font-family: din-condensed, sans-serif;
    font-weight: 400;
    font-style: normal;
    font-size: 50px;
    line-height: 1.2;
    text-align: right;
    padding: 150px 40px 150px 0px;
}

.arrow_icon {
    font-size: 35px;
}

.social-media {
    float: left;
    margin-left: 3%;
    position: relative;
    top: 200px;
}

.contact-footer {
    float: right;
    margin: 60px 0px 50px 0px;
    padding-right: 8%;
}

.clearfix::after {
    content: "";
    clear: both;
    display: table;
  }

.contact {
    color: #363434;
    font-family: din-condensed, sans-serif;
    font-weight: 400;
    font-style: normal;
    font-size: 55px;
    line-height: .8;
    text-align: right;
}

.contact-info {
    color: #363434;
    font-family: din-condensed, sans-serif;
    font-weight: 400;
    font-style: normal;
    font-size: 25px;
    line-height: .5;
    text-align: right;
}

.social {
    padding-right: 20px;
}

.about-container {
    width: 65%;
    margin: 10px 60px;
}

.about-head {
    color: #363434;
    font-family: din-condensed, sans-serif;
    font-weight: 400;
    font-style: normal;
    font-size: 50px;
    line-height: 1;
}

.about {
    color: #363434;
    font-family: din-condensed, sans-serif;
    font-weight: 400;
    font-style: normal;
    font-size: 20px;
    line-height: 1.4;
}

.headshot {
    width: 100%;
}